<main class="page--contents profile">
  <div class="main--contents">
    <h1 class="main--contents__title"><span class="title--text">プロフィール変更</span></h1>
    <form class="form--login" action="/profile" method="post" enctype="multipart/form-data">
      <div class="input--area main--contents__image">
        <label  class="form--img" for="img">
          <img  class="main--contents__image--item" id="preview" src="/asset/img/profile/<%= @img_name %>" alt="" srcset="">
          <input class="main--contents__image--btn filesend" type="file" value="<%= @img_name %>" name="img" onchange="previewImage(this); ">
          <span class="main--contents__image--text">画像変更</span>
        </label>
      </div>
      <div class="input--area">
        <label class="form--label text-left" for="name">ユーザー名</label>
        <input class="form--input" type="text" id="" name="name" value="<%= @name %>">
      </div>
      <div class="input--area">
        <label class="form--label text-left" for="email">メールアドレス</label>
        <input class="form--input" type="email" id="" name="email" value="<%= @email %>">
      </div>
      <div class="input--area">
        <label class="form--label text-left" for="password">パスワード</label>
        <input class="form--input" type="password" id="pass" name="password" minlength="4" value="<%= @password %>">
      </div>
      <div class="btn--wrap">
        <input class="btn-content bg-yellow" type="submit" value="登録する">
      </div>
    </form>
  </div>
</main>